/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/.idea/*
/.idea_modules/*
/project/*
activator
activator-launch-1.2.10.jar
*.grm.sig
*.grm.sml
*.grm.desc
*.lex.sml
.cm
/src/main/sml/bin/imogen
*.iml
/activator-launch-1.3.2.jar
