
.DS_Store
*.desc
*.grm.sig
*.grm.sml
*.lex.sml
*.du
.#*
.cm
mlmon.out
*.info
*.pdf
*.aux
*.log
*.toc
*.ky
*.pg
*.tp
*.vr
*.fn
*.cp
*.orig
tmp.txt
*\.\#*
*.sbt
project

bin/imogen
bin/imogen2
bin/partial
bin/v2

old
tests/contrib
contrib/iltp-fol
contrib/iltp-prop
contrib/linprover

tests/fol/iltp/src/ILTP-v1.1.2-firstorder
tests/fol/tptp/src/TPTP-v5.4.0.tgz
tests/fol/tptp/src/TPTP-v5.4.0
